<!DOCTYPE html>
<html>

<head>
    <title>Confirm Your Login</title>
</head>

<body>
    <p>Hello,</p>
    <p>Use the following confirmation code to login to Cahierix:</p>
    <h2><strong>{{confirmationCode}}</strong></h2>
    <p>This code will expire in 30 minutes.</p>
</body>

</html>