@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  @variants responsive {
    .hero-sm {
      background-position-x: calc((100vw / 12) + 10rem);
      background-repeat: no-repeat;
      /* background-size: 90% auto; */
    }

    .hero-xl {
      background-position-x: calc((100vw / 8) + 10rem);
      background-repeat: no-repeat;
      background-size: 80% auto;
    }

  }
}

@layer components {
  .hero-base {
    @apply bg-no-repeat;
    background-size: auto 100%;
  }

  .section {
    @apply container sm:w-10/12 xl:w-9/12 py-16;
  }

}